.header {
    display: flex;
    flex-direction: column;
}

.headertop {
    display: flex;
    width: 1920px;
    height: 46;
    background-color:#ECECEC;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.headerleft1 {
    display: flex;
    flex: start;
    width: 159px;
    height: 30px;
    margin-left:243px
}

.iconmail {
    width: 30px;
    height: 30px;
}

.headerright1 {
    display: flex;
    flex: end;
}

.menuright1 {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.chuong {
    width: 30px;
    height: 30px;
}

.menuright2 {
    display: flex;
    height: 30px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.dauhoi {
    width: 30px;
    height: 30px;
}

.menuright3 {
    display: flex;
    width: 158px;
    /* height: 16px; */
    margin-left: 15px;
    justify-content: space-between;
    align-items: center;
}

.user {
    width: 11.46px;
    height: 13.69px;
}

.menuright4 {
    display: flex;
    width: 80px;
    /* height: 24px; */
    margin-left: 15px;
    justify-content: space-between;
    align-items: center;
}

.

.headerbottom {
    display: flex;
    
}

